In [2]:
import pandas as pd
import random

data = pd.read_csv('c:/Users/gusta/Documents/Data Science Bootcamp/Data Science/Final Project/Data/Call_Center_Final/Call_Center_Final/Call_log.csv')

#weights are based on table 4 in https://www.mdpi.com/2076-3417/12/21/10951
emotions = ["anger","sadness","happiness","fear","neutral"]
random.seed(42)
new_column=random.choices(emotions, weights=(177,30,38,30,312), k=len(data))

#add column
data['Emotion']=new_column

In [3]:
data

,Agent_ID,Call_Date,Talk_Time,After_Call_Work_Time,Queue_Time,Call_resolution_ID,Call_Type_ID,Plan_ID,Emotion
0,32320,2017-01-01 00:00:00,1683,320,14,Resolution1,Type10,Plan3,neutral
1,32240,2017-01-01 00:00:00,836,184,16,Resolution1,Type30,Plan1,anger
2,32410,2017-01-01 00:00:00,2098,558,10,Resolution2,Type40,Plan3,anger
3,26210,2017-01-01 00:00:00,1027,290,2,Resolution2,Type50,Plan5,anger
4,32320,2017-01-01 00:00:00,1283,499,8,Resolution1,Type20,Plan8,neutral
...,...,...,...,...,...,...,...,...,...
1343247,14280,2019-06-30 00:00:00,490,147,33,Resolution1,Type50,Plan6,neutral
1343248,14300,2019-06-30 00:00:00,696,123,15,Resolution1,Type50,Plan1,neutral
1343249,14320,2019-06-30 00:00:00,320,95,15,Resolution1,Type20,Plan6,happiness
1343250,14320,2019-06-30 00:00:00,794,279,11,Resolution2,Type40,Plan3,neutral
1343251,32400,2019-06-30 00:00:00,1021,239,11,Resolution3,Type40,Plan6,anger

In [4]:
data.to_csv('c:/Users/gusta/Documents/Data Science Bootcamp/Data Science/Final Project/Data/Call_Center_Final/Call_Center_Final/Call_log_with_Emotions.csv', index=False)

In [4]:
data['Agent_ID'].value_counts()

26240    15297
14060    15225
14180    15219
26100    15219
14100    15216
         ...
14010     8403
32230     8403
26030     8382
26050     8374
32110     8370
Name: Agent_ID, Length: 114, dtype: int64

In [5]:
user_exp = pd.read_csv('c:/Users/gusta/Documents/Data Science Bootcamp/Data Science/Final Project/Data/Call_Center_Final/Call_Center_Final/User_experience.csv')
user_exp

     Agent_ID            Call_Date User_Experience
0       32430  2017-01-25 00:00:00       very good
1       26020  2017-01-26 00:00:00       very good
2       26010  2017-01-27 00:00:00       very good
3       26020  2017-01-27 00:00:00       very good
4       32040  2017-01-27 00:00:00       very good
..        ...                  ...             ...
495     32350  2017-12-09 00:00:00       very good
496     32410  2017-12-09 00:00:00       very good
497     32380  2017-12-10 00:00:00       excellent
498     32430  2017-12-10 00:00:00       very good
499     14210  2017-12-11 00:00:00       very good

[500 rows x 3 columns]

In [6]:
call_type = pd.read_csv('c:/Users/gusta/Documents/Data Science Bootcamp/Data Science/Final Project/Data/Call_Center_Final/Call_Center_Final/Call_type.csv')
call_type

  Call_Type_ID Call_Type_Description
0       Type10    Billing & Payments
1       Type20     Technical Support
2       Type30       Service Changes
3       Type40   Products & Services
4       Type50     General Inquiries
5       Type60                   NaN
6       Type70                   NaN
7       Type80                   NaN
8       Type90                   NaN
9      Type100                   NaN

In [ ]:
user_exp = pd.read_csv('c:/Users/gusta/Documents/Data Science Bootcamp/Data Science/Final Project/Data/Call_Center_Final/Call_Center_Final/User_experience.csv')
user_exp